.o_sample_cost_summary_table {
    margin: 1rem 0;
    
    .o_horizontal_separator {
        margin: 1rem 0;
    }

    table {
        width: 100%;
        margin-bottom: 1rem;
    }
    
    .negative {
        color: red;
    }

    .positive {
        color: green;
    }
}
